<div class="user-registration">
  <form nz-form nzLayout="vertical" #f="ngForm" (ngSubmit)="submit()">

    <nz-form-item>
      <nz-form-label nzFor="username">Username</nz-form-label>
      <nz-form-control nzErrorTip="Nom obligatoire">
        <input class="ant-input" type="text" name="username" id="username" [(ngModel)]="model.username"
          #username="ngModel" >
      </nz-form-control >
    </nz-form-item>


    <nz-form-item>
      <nz-form-label nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control nzErrorTip="Mot de passe obligatoire">
        <input class="ant-input" type="password" name="password" id="password" [(ngModel)]="model.password"
          #password="ngModel" required>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label nzFor="confirm-password">Confirmation du mot de passe</nz-form-label>
      <nz-form-control>
        <input class="ant-input" type="password" name="confirm-password" id="confirm-password"
          [(ngModel)]="model.confirmPassword" #confirm="ngModel" required>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <button class="register-button" nz-button nzType="default">S'enregistrer</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Déjà enregistré ?</p>
  <button class="login-button" nz-button nzType="primary" (click)="goToLogin()">Connectez-vous</button>
</div>
