<div class="list-notif">
    <div  [ngStyle]="{'display':'flex', 'background-color' : (notification.viewedAt) ? '#FFFFFF' : '#00FF00'}" *ngFor="let notification of notifications" >
        <div>
                <!-- <div class="notif-author-photo" [ngStyle]="{'background-image': 'url('+ post.createdBy.photoUrl +')'}"></div> -->
        </div>
        <div >
            <p>{{ notification.timestamp | date }}</p>

            <p *ngIf="notification.subject === 'room_added'">Une nouvelle salle à été crée !</p>
            <p *ngIf="notification.subject === 'post_liked'">Un post à été liker !</p>
            <p *ngIf="notification.subject === 'new_user'">Un utilisateur s'est inscrit !</p>

        </div>
    </div>
</div>