<div class="post">
  <div class="post-author-name"> {{ post.createdBy.username }}</div>

  <!-- TIPS: [ngStyle]="{'background-image': url(...) }" -->
  <div class="post-author-photo" [ngStyle]="{'background-image': 'url('+ post.createdBy.photoUrl +')'}"></div>
  <!-- <div class="post-author-photo" [ngStyle]="{'background-image': url('https://images.frandroid.com/wp-content/uploads/2020/06/google-photos-2020.jpg') }"></div> -->
  <div class="post-date"> {{ post.createdAt | date }}</div>

  <!-- TIPS: [ngClass]="{liked: [expression booléenne]}" -->
  <div class="post-user-like">
    <i nz-icon nzType="heart" (click)="like()" [nzTheme]="post.liked ? 'fill' : 'outline'"></i>
  </div>

  <p class="post-text">
    {{ post.message.text.content }}
    <!-- Afficher le texte du poste uniquement-->
  </p>

  <!-- Itérer sur les "attachements" du message -->
  <div class="post-attachements" *ngFor="let element of post.message.attachements">
    <!-- Utiliser ngIf pour afficher le bon composant en fonction du type d'élément-->
    <app-post-attachement-image [element]="element" *ngIf="element.type === 'image'"></app-post-attachement-image>
    <app-post-attachement-video [element]="element" *ngIf="element.type === 'video'"></app-post-attachement-video>
    <app-post-attachement-youtube [element]="element" *ngIf="element.type === 'youtube'"></app-post-attachement-youtube>
    <app-post-attachement-audio [element]="element" *ngIf="element.type === 'audio'"></app-post-attachement-audio>
  </div>
  <div #anchor></div>
</div>
