<nz-modal [(nzVisible)]="isVisible" nzTitle="Nouvelle room" (nzOnCancel)="onCancel()" (nzOnOk)="onOk()">
  <form nz-form nzLayout="vertical" #f="ngForm">
    <!--TODO-->

    <nz-form-item>
      <nz-form-label nzFor="name">Titre de la room</nz-form-label>
      <nz-form-control nzErrorTip="Nom obligatoire">
        <input class="ant-input" type="text" name="name" id="name"   [(ngModel)]="model.name">
      </nz-form-control>
    </nz-form-item>


    <nz-form-item>
      <nz-form-label nzFor="name">Type</nz-form-label>
      <nz-form-control nzErrorTip="Type obligatoire">
        <nz-select [(ngModel)]="model.type" name="type" required>
          <nz-option nzValue="text" nzLabel="Libre"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>


  </form>
</nz-modal>

