<div class="login">
  <form nz-form nzLayout="vertical" #f="ngForm" (submit)="submit()">
    <nz-form-item>
      <nz-form-label nzFor="username">Username</nz-form-label>
      <nz-form-control nzErrorTip="Username obligatoire">
          <input class="ant-input" type="text" name="username" id="username" #username="ngModel" [(ngModel)]="model.username" required>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="password">Mot de passe</nz-form-label>
      <nz-form-control nzErrorTip="Mot de passe obligatoire">
         <input class="ant-input" type="password" name="password" id="password" #password="ngModel" [(ngModel)]="model.password" required>  
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button class="login-button" type="submit" nz-button nzType="default" [disabled]="f.form.invalid"
          (submit)="submit()">Connexion</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <p class="divider">Pas encore enregistré ?</p>

  <button (click)="goToRegistration()" class="register-button" nz-button nzType="primary">Créer un compte</button>
</div>
