<div class="room-menu">
  <div class="room-meanu-header">
    <h3>Rooms</h3>
    <!-- TODO  -->
    <button (click)="modal.open()" nz-button nzType="default" nzGhost><i nz-icon nzType="plus"></i></button>
  </div>
  <!--  
    TODO itérer sur les rooms. Au clic, naviguer sur la room sélectionnée.
    Remplacer [id de la room] par l'id de la room itérée
  -->
  <div (click)="goToRoom(room)" *ngFor="let room of rooms" class="menu-item" [ngClass]="{'selected': (roomId$ | async) === 'room.id'}">
    <p>{{ room.name }}</p>
  </div>

</div>
<app-room-create-modal #modal (lastAddRoom)="addRoom($event)"></app-room-create-modal>
