<div class="user-widget">
  <div class="user-widget-photo"  *ngIf="photoUrl$ | async as photoUrl" [ngStyle]="{'background-image': 'url('+ photoUrl +')'}"></div>

  <div class="user-widget-actions">
    <button nz-button nzType="default" nzGhost (click)="modal.open()"><i nz-icon nzType="edit"></i></button>

    <nz-badge [nzDot]="hasUnread$ | async">
      <button nz-button nzType="default" nzGhost (click)="fireToggleNotifications()"> <i nz-icon nzType="bell"
          nzTheme="outline"></i></button>
    </nz-badge>

    <button nz-button nzType="default" nzDanger nzGhost (click)="logout()"><i nz-icon nzType="logout"></i></button>
  </div>


</div>
<app-user-profile-modal #modal [user]="user$ | async"></app-user-profile-modal>
